<footer>
  <div class="container-fluid position-fixed bottom-0 start-0 end-0">
    <div
    class="bottom-navigation d-flex justify-content-around align-items-end"
  >
    <div>
      <a
        href="#"
        class="d-flex flex-column align-items-center link-gray-400 fs-8 fw-normal lh-lg" style="color: #6CAA7A !important;"
      >
        <i class="bi bi-book"></i>
        <span>帳本</span>
      </a>
    </div>
    <div>
      <a
        href="#"
        class="d-flex flex-column align-items-center link-gray-400 fs-8 fw-normal lh-lg"
      >
        <i class="bi bi-arrow-down-up"></i>
        <span>共享</span>
      </a>
    </div>
    <div>
      <a
        href="#"
        class="d-flex flex-column align-items-center link-gray-400 fs-8 fw-normal lh-lg"
      >
      <a href="#" class="p-3 bg-primary-400 rounded-circle d-block  position-relative top-0 start-50 translate-middle">
        <img src="/assets/images/icon-plus.svg" alt="icon-plus" />
      </a>
    </div>
    <div>
      <a
        href="#"
        class="d-flex flex-column align-items-center link-gray-400 fs-8 fw-normal lh-lg"
      >
        <i class="bi bi-graph-up"></i>
        <span>統計</span>
      </a>
    </div>
    <div>
      <a
        href="#"
        class="d-flex flex-column align-items-center link-gray-400 fs-8 fw-normal lh-lg"
      >
        <i class="bi bi-person"></i>
        <span>帳戶</span>
      </a>
    </div>
  </div>
    
  </div>
</footer>
