<footer>
  <div class="container-fluid">
    <div
      class="bottom-navigation d-flex justify-content-between align-items-end"
    >
      <div class="d-flex justify-content-between">
        <a
          href="#"
          class="d-flex flex-column align-items-center link-gray-400 fs-8 fw-normal lh-lg"
        >
          <img
            src="/assets/images/icon-book.svg"
            alt="icon-book"
            width="32px"
          />
          <span>帳本</span>
        </a>
      </div>
      <div>
        <a
          href="#"
          class="d-flex flex-column align-items-center link-gray-400 fs-8 fw-normal lh-lg"
        >
          <img
            src="/assets/images/icon-arrow.svg"
            alt="icon-arrow"
            width="32px"
          />
          <span>共享</span>
        </a>
      </div>
      <div class="bottom-navigation-plus align-self-start">
        <a href="#" class="p-3 bg-primary-400 rounded-circle d-block">
          <img src="/assets/images/icon-plus.svg" alt="icon-plus" />
        </a>
      </div>
      <div class="d-flex justify-content-between">
        <a
          href="#"
          class="d-flex flex-column align-items-center link-gray-400 fs-8 fw-normal lh-lg"
        >
          <img
            src="/assets/images/icon-line.svg"
            alt="icon-line"
            width="32px"
          />
          <span>統計</span>
        </a>
      </div>
      <div>
        <a
          href="#"
          class="d-flex flex-column align-items-center link-gray-400 fs-8 fw-normal lh-lg"
        >
          <img
            src="/assets/images/icon-people.svg"
            alt="icon-people"
            width="32px"
          />
          <span>帳戶</span>
        </a>
      </div>
    </div>
  </div>
</footer>
