<footer>
  <div class="container-fluid position-fixed bottom-0 start-0 end-0">
    <div
    class="bottom-navigation d-flex justify-content-around align-items-end"
  >
    <div>
      <a
        href="#"
        class="d-flex flex-column align-items-center link-gray-400 fs-8 fw-normal lh-lg"
      >
        <img
          src="/assets/images/icon-book.svg"
          alt="icon-book"
          width="32px"
        />
        <span>帳本</span>
      </a>
    </div>
    <div>
      <a
        href="#"
        class="d-flex flex-column align-items-center link-gray-400 fs-8 fw-normal lh-lg"
      >
        <img
          src="/assets/images/icon-arrow.svg"
          alt="icon-arrow"
          width="32px"
        />
        <span>共享</span>
      </a>
    </div>
    <div>
      <a
        href="#"
        class="d-flex flex-column align-items-center link-gray-400 fs-8 fw-normal lh-lg"
      >
      <a href="#" class="p-3 bg-primary-400 rounded-circle d-block  position-relative top-0 start-50 translate-middle">
        <img src="/assets/images/icon-plus.svg" alt="icon-plus" />
      </a>
    </div>
    <div>
      <a
        href="#"
        class="d-flex flex-column align-items-center link-gray-400 fs-8 fw-normal lh-lg"
      >
        <img
          src="/assets/images/icon-line.svg"
          alt="icon-line"
          width="32px"
        />
        <span>統計</span>
      </a>
    </div>
    <div>
      <a
        href="#"
        class="d-flex flex-column align-items-center link-gray-400 fs-8 fw-normal lh-lg"
      >
        <img
          src="/assets/images/icon-people.svg"
          alt="icon-people"
          width="32px"
        />
        <span>帳戶</span>
      </a>
    </div>
  </div>
    
  </div>
</footer>
